### SEND SMS CONFIGURATIONS
### https://dashboard.sinch.com/settings/access-keys
SINCH_GLOBAL_PROJECT_ID=""
SINCH_GLOBAL_KEY_ID=""
SINCH_GLOBAL_KEY_SECRET=""
SINCH_GLOBAL_SMS_REGION="eu"

### NUMBER VERIFICATION CONFIGURATIONS
### https://dashboard.sinch.com/verification/apps/
SINCH_GLOBAL_APP_KEY=""
SINCH_GLOBAL_APP_SECRET=""

### SEND SMS CONFIGURATIONS
### https://dashboard.sinch.com/settings/access-keys
SINCH_US_PROJECT_ID=""
SINCH_US_KEY_ID=""
SINCH_US_KEY_SECRET=""
SINCH_US_SMS_REGION="us"
SINCH_US_SENDER_ID=""

### NUMBER VERIFICATION CONFIGURATIONS
### https://dashboard.sinch.com/verification/apps/
SINCH_US_APP_KEY=""
SINCH_US_APP_SECRET=""